{% extends "base.html" %}

{% block title %}API Documentation - PixelMind AI {% endblock %}

{% block content %}
<div class="container">
    <div class="header-section">
        <h1>API Documentation</h1>
        <p>Welcome to the PixelMind AI API documentation. Here you will find all the necessary information to integrate our object detection capabilities into your applications.</p>
    </div>
    <div >
        Note: The API is under development and may change in the future. Please check back for updates.
    </div>

{% endblock %}