{% extends "base.html" %}

{% block title %}Models - PixelMind AI{% endblock %}

{% block content %}
    <h5>
        Currently serving pre-trained YOLO26 MEDIUM model for object detection. More models will be added in the future.
    </h5>
    <h5>
        Want to train your own model? Please refer to Ultralytics YOLO26 documentation for training your own model. Once you have a trained model, please contact us to add it to our platform.
    </h5>
    <h5>
        If you want your own model to be added, please contact us at below contact information.
    </h5>
{% endblock %}